* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow: hidden;
}

.box__item {
    width: 300px;
    position: relative;
    height: 300px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    perspective: 10000px;
    perspective-origin: 50% 50%;
    animation: animation 3s linear 0.3s infinite;
    margin: auto;
}

.box {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    padding: 330px;
    position: relative;
}

.box__item > div {
    height: 100px;   
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);  
    color: aliceblue;
    position: absolute;
    opacity: 0.9;
    border: 1px solid #333;
} 

.box__top {
    width: 100px;
    transform: translateZ(100px) translateY(-100px);
}

.box__center {
    width: 300px;
    transform: translateZ(100px);
}

.box__bottom {
    width: 100px;
    transform: translateZ(100px) translateY(100px);
}

.box__back-top { 
    transform: translateY(-100px); 
    width: 100px; 
}

.box__back-center {
    width: 300px; 
}

.box__back-bottom {
    width: 100px;
    transform: translateY(100px);
}

.box__top-left {
    width: 100px;
    transform: rotateY(270deg) translateY(-100px);
    transform-origin: left center;
}
.box__top-center {
    width: 100px;
    transform: rotateX(-90deg) translatey(-100px) translatez(-100px);
    transform-origin: top center;
}

.box__top-right {
    width: 100px;
    transform: rotateY(90deg) translatey(-100px);
    transform-origin: right center;
}

.box__center-top {
    width: 300px;
    transform: rotateX(90deg) translateY(50px) translateZ(50px);
    transform-origin: center;
}

.box__center-bottom {
    width: 300px;
    bottom: 150px;
    transform: rotateX(-90deg) translateY(-50px);
    transform-origin: center;
}

.box__center-left {
    width: 100px;
    transform: rotateY(90deg) translateX(-50px) translateZ(-150px);
    transform-origin: center;
}

.box__center-right {
    width: 100px;
    transform: rotateY(-90deg) translateX(50px) translateZ(-150px);
    transform-origin: center;
}

.box__bottom-center {
    width: 100px;
    transform: rotateX(90deg) translatez(-100px) translateY(100px);
    transform-origin: bottom center;
}

.box__bottom-left {
    transform-origin: left center;
    width: 100px;
    transform: rotatey(90deg) translatex(-100px) translateY(100px);
}

.box__bottom-right {
    transform-origin: right center;
    width: 100px;
    transform: rotatey(-90deg) translatex(100px) translateY(100px);
}

.box:after,
.box:before {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center center;
}
.box:before {
  box-shadow: inset 0 20px 0 rgba(0, 250, 250, 0.6), inset 20px 0 0 rgba(0, 200, 200, 0.6), inset 0 -20px 0 rgba(0, 150, 200, 0.6), inset -20px 0 0 rgba(0, 200, 250, 0.6);
  animation: rotate-before 2s -0.5s linear infinite;
}
.box:after {
  box-shadow: inset 0 20px 0 rgba(250, 250, 0, 0.6), inset 20px 0 0 rgba(250, 200, 0, 0.6), inset 0 -20px 0 rgba(250, 150, 0, 0.6), inset -20px 0 0 rgba(250, 100, 0, 0.6);
  animation: rotate-after 2s -0.5s linear infinite;
}
@keyframes rotate-after {
  0% {transform: rotateZ(0deg) scaleX(1) scaleY(1);}
  50% {transform: rotateZ(180deg) scaleX(0.82) scaleY(0.95);}
  100% {transform: rotateZ(360deg) scaleX(1) scaleY(1);}
}
@keyframes rotate-before {
  0% {transform: rotateZ(0deg) scaleX(1) scaleY(1);}
  50% {transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);}
  100% {transform: rotateZ(-360deg) scaleX(1) scaleY(1);}
}

@keyframes animation {
    0% {transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);}
    100% {transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);}
}
